@import "tailwindcss";

:root {
  /* --background: #323c39; */
  /* --foreground: #d3c9a1; */
  /* --background: #232424; */
  /* --foreground: #f0f6f0; */

  --background: #222323;
  --background-dark: #1b1c1c;

  --foreground: #f0f6f0;

  --gray: #808080;
  --red: #b33831;
  --green: #1ebc73;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-m-red: var(--red);
  --color-m-green: var(--green);
  --color-m-gray: var(--gray);
  --font-mono: var(--font-roboto-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
